.date-picker {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 15px;

    h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #030229;   
        opacity: 0.7;
    }
}