.recent-orders {
    flex-direction: column !important;


    &--heading {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-bottom: 1px solid #f1f1f1;
        width: 100%;
        padding: 15px;
        row-gap: 10px;
        column-gap: 15px;
    }

    &--table {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        row-gap: 10px;
        column-gap: 15px;

        &--order {
            background: #eaf9fd;
            border-radius: 8px;
            padding: 7px 20px;
            width: 60px;
        }

    }
}