$primary-background: #F5F5F5;
$primary-text-black: #030229;
$primary-text-white: #FFFFFF;
$primary-text-blue: #605BFF;
$primary-yellow: #FFD66B;
$primary-orange: #FF8F6B;
$primary-text-red: #D11A2A;

$secondary-text-black: #000000;
$secondary-blue: #5B93FF;
$secondary-text-blue: #26C0E2;
$secondary-light-blue: #eaf9fd;

$border-gray: #ccc;
$border-light-gray: #f1f1f1;
$border-light-red: #fbe9ea;

$primary-gradient: linear-gradient(90deg, #ACA9FF 0%, rgba(172, 169, 255, 0) 91.25%);