
.app {
    height: 100vh;
    max-width: var(max-width);

    &--nav-con {
        height: 100%;
        flex: 1;
    }

    &--page-content {
        padding: 30px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
}

.homepage {
    width: 100%;

    &--header {
        width: 100%;
    }  

    &--summary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 100%;
    }
}

.charts {
    height: 400px;
    width: 100%;
    margin-top: 30px;

    &--linechart {
        position: relative;
        height: 100%;
        width: 60%;
        overflow: hidden;
        min-width: 400px;
    }

   
    
    &--doughnut {
        display: flex;
        flex-direction: column !important;
        position: relative;
        height: 100%;
        flex: 1;
        width: 40%;
        min-height: 350px;

        &-transactions {
            margin: auto;
        }
    }
}

.product-details {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.62fr 0.39fr;
    column-gap: 30px;
}

@media screen and (max-width: '1200px') {
    .homepage {
        &--summary {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .charts {
        flex-direction: column !important;
        width: 100%;
        min-height: 800px;
        height: 100%;

        &--linechart {
            width: 100%;
        }

        &--doughnut {
            width: 100%;
        }
    }

    .product-details {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: '800px') {
    .homepage {
        &--summary {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: '600px') {

    .homepage {
        &--header {
            flex-direction: column !important;
        }
    }
    .charts {
        &--doughnut {
            &-transactions {
                margin: 0 auto;
            }
        }
    }
}
