
.app {
    height: 100vh;
    max-width: var(max-width);

    &--nav-con {
        height: 100%;
        flex: 1;
    }

    &--page-content {
        padding: 30px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
}

.homepage {
    width: 100%;

    &--header {
        width: 100%;
    }  
}

.charts {
    height: 400px;
    width: 100%;
    margin-top: 30px;

    .linechart {
        position: relative;
        height: 100%;
        width: 60%;
        object-fit: contain;
        overflow: hidden;
    }
    
    .doughnut {
        position: relative;
        height: 100%;
        // right: 0;
        flex: 1;
    }
}

